<h1>About this project</h1>
<hr/>
<p>This web page was especialy made for ICT Theory course on Czech University of Life Sciences. It is very simple web application for extraction of email addresses from a long and extensive text. A simple regular expression in Ruby programming language has done the magic. </p>